* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: "Ancizar Serif", serif; 
}

.navbar {
  background-color: #535353;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}
.logo img{
    width: 40%
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #4ba8c1;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
 body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .hero { 
      background-position: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }

    .hero-content {
      background: rgba(0, 0, 0, 0.5);
      padding: 40px;
      border-radius: 10px;
    }

    .hero h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }

    .hero button {
      padding: 10px 20px;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      background-color: #ff6600;
      color: white;
      cursor: pointer;
    }

    .hero button:hover {
      background-color: #e65c00;
    }








/* responsiveness  */

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 20px;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
